*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ffffff;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #212121;
}

.container{
    position: relative;
}

.clock{
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i))); 
    inset: 12px;
    text-align: center;
}

.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 50px;
}

.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 2;
}

.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color: var(--clr);
    width: var(--w);
    height: var(--h);
    border-radius: 8px;
}

#clock2 {
    height: 800px;
    width: 800px;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
  }
  
  .tick {
    background-color: black;
    height: 20px;
    width: 5px;
    position: absolute;
  }
  
  .oneEleven {
    /* ~6.7% */
    top: 33.5px;
  }
  
  .twoTen {
    /* 25% */
    top: 125px;
  }
  
  .threeNine {
    /* 50% */
    top: 250px;
  }
  
  .fourEight {
    /* 25% */
    bottom: 125px;
  }
  
  .fiveSeven {
    /* ~6.7% */
    bottom: 33.5px;
  }
  
  #one {
    right: 125px;
    transform: rotate(30deg);
  }
  
  #two {
    /* ~93.3% */
    right: 33.5px;
    transform: rotate(60deg);
  }
  
  #three {
    right: 0px;
    transform: rotate(90deg);
  }
  
  #four {
    right: 33.5px;
    transform: rotate(120deg);
  }
  
  #five {
    right: 125px;
    transform: rotate(150deg);
  }
  
  #six {
    left: 250px;
    bottom: 0px;
  }
  
  #seven {
    left: 125px;
    transform: rotate(-150deg);
  }
  
  #eight {
    left: 33.5px;
    transform: rotate(-120deg);
  }
  
  #nine {
    left: 0px;
    transform: rotate(-90deg);
  }
  
  #ten {
    left: 33.5px;
    transform: rotate(-60deg);
  }
  
  #eleven {
    left: 125px;
    transform: rotate(-30deg);
  }
  
  #twelve {
    left: 250px;
    top: 0px;
  }